<div class="container-fluid">
  <h3>Add Contest</h3>

      <%= simple_nested_form_for @contest do |f| %>
      <div class="col-md-6">
        <%= f.input :title, input_html: { maxlength: 128 } %>
        <%= f.input :begin_time, as: :datetime %>
        <%= f.input :end_time, as: :datetime %>
        <%= f.button :submit, :class => 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-md-6">
        <%= f.fields_for :contest_problem_sets do |c| %>
          <%= c.select :problem_id, Problem.all.collect { |p| [ Judge.find(p.judge_id).name, p.source, p.id] } %>
        <% end %>
      </div>
      <% end %>
  <div class="col-md-6">
  </div>
</div>
