<div class="container-fluid">
  <div style="text-align: center;">
    <h3><%= @problem.title %></h3>
  </div>
  <div class="content">
  <br>
  <br>
  <h4>Content</h4>
  <p><%= @problem.content.html_safe %></p>
  <h4>Input</h4>
  <p><%= @problem.input.html_safe %></p>
  <h4>Output</h4>
  <p><%= @problem.output.html_safe %></p>
  <h4>Sample Input</h4>
  <pre><%= @problem.sample_input.html_safe %></pre>
  <h4>Sample Output</h4>
  <pre><%= @problem.sample_output.html_safe %></pre>
  <h4>Hint</h4>
  <p><%= @problem.hint %></p>
  </div>
</div>
